{% extends "basic_app/base.html" %}

{% block body_block %}

<div class ="jumbotron">

<h1>Please Login To edit Questions</h1>
<form action="{% url 'basic_app:user_login' %}" method="POST">
{% csrf_token %}
<label for="username">UserName:</label>
<input type="text" name="username" placeholder="Enter username here">
<label for="password">UserName:</label>
<input type="password" name="password" placeholder="Enter password here">

<input type="submit" name="" value="Login">
</form>
</div>

{% endblock %}